@charset "utf-8";
/* CSS Document */
.st0 {
	fill: #FAD6BD;
}
.st1 {
	fill: #E28280;
}
.st2 {
	fill: #FFEABF;
}
.st3 {
	fill: #9FD18D;
}
.st4 {
	fill: #C7C9ED;
}
.st5 {
	fill: #F7AAAF;
}
.st6 {
	fill: #231F20;
}
